@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.title_project{
    margin: 4rem;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.contaner_project{
    margin: 4rem;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
}

figure.snip_effect {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    height: 230px;
    width: 340px;
    background: #001353;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
}

figure.snip_effect * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

figure.snip_effect img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
}

figure.snip_effect figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}   

figure.snip_effect h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #02002b;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
}

figure.snip_effect h2 span {
    font-weight: 800;
}

figure.snip_effect:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #ffffff;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
}

figure.snip_effect:hover img,figure.snip_effect.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.snip_effect:hover h2,figure.snip_effect.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip_effect:hover:before,figure.snip_effect.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
}

.link{
    cursor: pointer;
}

.font{
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.container{
    margin: 3.5rem;
}

.image_flutter{
    -webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    border-radius: 20px;
    width: 1450px;
    height: 730px;
}

.image_ecom{
    padding: 10px;
    -webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    border-radius: 20px;
    width: 730px;
    height: 520px;
}


.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

